---
layout: hvkg
---
<div class="breadcrumb">
    <ul>
        <li><a href="/kleist-portal">Home</a></li>
        <li>Heinrich-von-Kleist-Gesellschaft</li>
    </ul>
</div>
<h2>Willkommen bei der Heinrich-von-Kleist-Gesellschaft</h2>
<div class="container-cards">
    <div class="card card-tall hvk">
        <div class="media">
            <div class="img">
                <img src="/img/hvk/kleist-kreide-quadr.jpg" alt="Placeholder">
            </div>
            <h3 class="m-title">Kleist-Preis 2018</h3>
            <div class="m-content">
                <h5>László Földényi verleiht den Kleist-Preis 2018 an Christoph Ransmayr</h5>
                <p>Der Kleist-Preis des Jahres 2018 geht an den Wiener Schriftsteller <em>Christoph Ransmayr</em>. Mit den drei großen Romanen Die Schrecken des Eises und der Finsternis (1984), Die letzte Welt (1988) und Morbus Kitahara (1995) gewann Christoph Ransmayr umgehend internationale Anerkennung. Sie entwerfen eine hintergründige Topographie, in der sich historische Orte mit mythischen Landschaften überlagern. Eine Expedition zum Nordpol, die Verbannung Ovids nach Tomi ans Schwarze Meer,  ein Kurort am Traunsee unter Besatzung nach 1945 werden zu Schauplätzen der Rückverwandlung von Kultur in Natur und des Rückfalls des Menschen in die Kreatur. </p>
                <p class="hidden-show"><a href="#">mehr ...</a></p>
                <div class="hidden">
                <p>Das Versepos Der fliegende Berg (2006) erzählt virtuos von zwei Brüdern, die den sagenumwobenen fliegenden Berg in Tibet besteigen. In Atlas eines ängstlichen Mannes (2012) zieht Ransmayr die Summe jahrzehntelangen Reisens in die entlegensten Gegenden dieser Erde. Jenseits jeglichen Exotismus reihen sich sprachlich kunstvoll präsentierte Detailbeobachtungen und alltägliche Begebenheiten aneinander und ergeben als Ganzes ein Bild der heutigen Welt, der globalisierten und zugleich enorm zerstreuten Kulturen. Der Roman Cox (2016) handelt von einem britischen Uhrmacher in China und ist erzählte Zeitphilosophie, entführt in ferne Zeiten und deren Muße und in die heutige Zeit. Er ist ein meisterhafter Versuch, zwischen Orient und Okzident zu vermitteln, und sei es auch nur, indem der Autor Grausamkeit und Autokratie hüben wie drüben vergleicht.  Christoph Ransmayrs riskante und stets wechselhafte Versuchsanordnungen des Schreibens, die seit Jahren vom S. Fischer-Verlag publiziert werden, wurden mit großem Recht bereits mit zahlreichen Preisen ausgezeichnet, u.a. mit dem Franz-Kafka-Preis (1995), dem Prix Aristeion (1996), dem Friedrich-Hölderlin-Preis (1998), dem Nestroy-Theaterpreis (2001), dem Böll-Preis (2007), dem Fontane-Preis (2014), dem Marieluise-Fleißer-Preis (2017) sowie dem Würth-Preis für Europäische Literatur (2018).</p>
                <p>Der Kleist-Preis wird Christoph Ransmayr am 18. November 2018 in Berlin während einer Matinée im Deutschen Theater übergeben, die Ulrich Khuon und Ulrich Beck arrangieren werden. Die Laudatio hält der ungarische Kunsttheoretiker, Essayist, Literaturkritiker und Übersetzer László Földényi. Er hat – als von der Jury der Heinrich-von-Kleist-Gesellschaft gewählte Vertrauensperson – Christoph Ransmayr in alleiniger Verantwortung, der Tradition des Kleist-Preises gemäß, zum Preisträger des Jahres 2018 bestimmt. Die Jury des Kleist-Preises bestand diesmal aus Andrea Bartl (Universität Bamberg), Günter Blamberger (Universität zu Köln), Florian Borchmeyer (Dramaturg Schaubühne Berlin), Gabriele Brandstetter (Freie Universität Berlin), Florian Hoellerer (Literarisches Colloquium Berlin), Michael Maar (freier Autor Berlin) und Sigrid Weigel (Zentrum für Literaturforschung Berlin).</p>
                <p>Der Kleist-Preis ist mit 20.000 Euro dotiert. Das Preisgeld geben die Holtzbrinck Publishing Group, die Beauftragte der Bundesregierung für Kultur und Medien sowie die Ministerien für Wissenschaft, Forschung und Kultur der Länder Berlin und Brandenburg. Der Kleist-Preis hat eine lange Tradition. In den 10er und 20er des letzten Jahrhunderts wurden u.a. Hans Henny Jahnn, Bertolt Brecht, Robert Musil oder Anna Seghers ausgezeichnet. Nach der Wiederbegründung des Preises 1985 hießen die Preisträger u.a. Alexander Kluge, Thomas Brasch, Heiner Müller, Ernst Jandl, Monika Maron, Herta Müller, Hans Joachim Schädlich, Martin Mosebach, Gert Jonke, Daniel Kehlmann, Wilhelm Genazino, Arnold Stadler, Sibylle Lewitscharoff, Navid Kermani, Marcel Beyer, Monika Rinck oder Yoko Tawada.</p>
                </div>
                </div>
            <div class="m-footer">
                <p><a href="#">Mehr zum Kleist-Preis</a></p>
            </div>
        </div>
    </div>
    <div class="card card-tall hvk">
        <div class="media">
            <div class="img">
                <img src="/img/hvkg/jahrestagung18.png" alt="Placeholder">
            </div>
            <h3 class="m-title">Jahrestagung 2018</h3>
            <div class="m-content">
                <h5>Internationale Jahrestagung der Heinrich-von-Kleist-Gesellschaft 2018 (in Kooperation mit der Deutschen Schillergesellschaft)</h5>
                <p>Vom 15.11.2018 bis zum 17.11.2018 findet die Jahrestagung der Heinrich-von-Kleist-Gesellschaft in Kooperation mit der Deutschen Schillergesellschaft statt.</p>
                <p>Ort der Tagung ist: Freie Universität Berlin, Exzellenzcluster 264 TOPOI, Erdgeschoss Hittorfstr. 18, 14195 Berlin-Dahlem (U3 Freie Universität).</p>
                <p>Das Tagungsprogramm findet sich <a href="">hier</a>. Anmeldungen   <a href="">hier</a>.</p>
                <p>Zum Auftakt am 15.11.2018 gibt es im Deutschen Theater Berlin (Schumannstraße 13, 10117 Berlin-Mitte) ab 18.30 Uhr eine Lesung: „Der Fluch der Macht“ – Auftritt der Moderne: Kleist und Schiller.</p>
                <p>An gleichem Ort in der Kantine des DT findet schon um 16.00 Uhr das konstituierende Treffen des Kleist-Nachwuchs-Netzwerk statt; interessierte junge KleistforscherInnen sind herzlich willkommen! (Kontakt: milena.rolka@fu-berlin.de).</p>
                </div>
            <div class="m-footer">
                <p><a href="#">Mehr zur Jahrestagung der Heinrich-von-Kleist-Gesellschaft</a></p>
            </div>
        </div>
    </div>
    <div class="card card-tall hvk">
        <div class="media" style="background:lightblue;padding: .3em;">
            <!-- <div class="img">
                <img src="/img/hvkg/kjb18.png" alt="Placeholder">
            </div> -->
            <h3 class="m-title">Aktuelles</h3>
            <div class="m-content">
                <h5>Aktuelles aus Theater, Universitäten und Schulen, Buchmarkt.</h5>
                <p><a href="">Mehr Informationen hier ...</a></p>
                </div>
            <div class="m-footer" style="margin-bottom:2rem;">
                <p><a href="#"></a></p>
            </div>
        </div>
        <div class="media">
            <div class="img">
                <img src="/img/hvkg/kjb18.png" alt="Placeholder">
            </div>
            <h3 class="m-title">Kleist-Jahrbuch</h3>
            <div class="m-content">
                <p>Andrea Allerkamp, Günter Blamberger, Anne Fleig, Barbara Gribnitz, Hannah Lotte Lund und Martin Roussel (Hrsg.)
                <p> Im Auftrag des Vorstandes der Heinrich-von-Kleist-Gesellschaft und des Kleist-Museums.</p>
                <p> Verlag: J.B. Metzler <br>
                VI, 320 S., kartoniert, <br> Preis: EUR 39,99, ISBN: 978-3-476-04667-3 <br>
                (Mehr Informationen hier.)</p>
                <p class="hidden-show"><a href="#">mehr ...</a></p>
                <div class="hidden">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, blanditiis maiores! Ea sit impedit, voluptatibus ad nihil voluptas fugiat reiciendis voluptatem, exercitationem architecto maxime? Nam tenetur nemo deleniti est? Laudantium vero quisquam nobis et debitis tenetur, eius adipisci quae accusantium laborum inventore eveniet consectetur totam cupiditate, tempora dolorum commodi. Enim quidem vero alias pariatur explicabo ipsam possimus cum odio id. Veniam, sint voluptatum iusto ex nesciunt veritatis nihil magni cupiditate.</p>
                </div>
                </div>
            <div class="m-footer">
                <p><a href="#">Mehr zum Jahrbuch</a></p>
                <p><a href="#">Download älterer Jahrbücher</a></p>
            </div>
        </div>
    </div> 
    <div class="card card-wide hvk">
        <div class="media">
            <div class="img">
                <!-- <img src="/img/hvkg/kjb18.png" alt="Placeholder"> -->
            </div>
            <!-- <h3 class="m-title">Aktuelles</h3> -->
            <div class="m-content" style="text-align: center;border: 2px solid black;padding:1em;">
                <p>Wir trauern um unseren langjährigen Vorsitzendenbr <br> und Ehrenpräsidenten</p>
                <h4>Prof. Dr. Hans Joachim Kreutzer</h4> 
                <p>geboren am 21.2.1935 in Essen, <br>gestorben am 19.7.2018 in München</p>
                <p style='margin-top: 1em;'>Die Heinrich-von-Kleist-Gesellschaft  gedenkt seiner <br> in großer Dankbarkeit.</p> 
                <p>Für den Vorstand: Prof. Dr. G. Blamberger, <br> Prof. Dr. G. Brandstetter, G. Dunz-Wolff</p>
                </div>
                </div>
            <div class="m-footer">
                <p><a href="#">Siehe auch Nachruf für Prof. Dr. Hans Joachim Kreutzer</a></p>
            </div>
    </div>
</div>