---
layout: hvkg
---
<div class="breadcrumb">
    <ul>
        <li><a href="/kleist-portal">Home</a></li>
        <li>Kleist-Jahrb체cher</li>
    </ul>
</div>
<h2>Kleist-Jahrbuch 2018</h2>
<div class="card card-tall hvk">
        <div class="media">
            <div class="img">
                <img src="/img/hvkg/kjb18.png" alt="Placeholder">
            </div>
            <h3 class="m-title">Kleist-Jahrbuch</h3>
            <div class="m-content">
                <p>Andrea Allerkamp, G체nter Blamberger, Anne Fleig, Barbara Gribnitz, Hannah Lotte Lund und Martin Roussel (Hrsg.)
                <p> Im Auftrag des Vorstandes der Heinrich-von-Kleist-Gesellschaft und des Kleist-Museums.</p>
                <p> Verlag: J.B. Metzler <br>
                VI, 320 S., kartoniert, <br> Preis: EUR 39,99, ISBN: 978-3-476-04667-3 <br>
                (Mehr Informationen hier.)</p>
                <p class="hidden-show"><a href="#">mehr ...</a></p>
                <div class="hidden">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, blanditiis maiores! Ea sit impedit, voluptatibus ad nihil voluptas fugiat reiciendis voluptatem, exercitationem architecto maxime? Nam tenetur nemo deleniti est? Laudantium vero quisquam nobis et debitis tenetur, eius adipisci quae accusantium laborum inventore eveniet consectetur totam cupiditate, tempora dolorum commodi. Enim quidem vero alias pariatur explicabo ipsam possimus cum odio id. Veniam, sint voluptatum iusto ex nesciunt veritatis nihil magni cupiditate.</p>
                </div>
                </div>
            <div class="m-footer">
                <p><a href="#">Mehr zum Jahrbuch</a></p>
                <p><a href="#">Download 채lterer Jahrb체cher</a></p>
            </div>
        </div>
    </div> 