/* ###### KLEIST-PORTAL ###### */

/* ### Media-Queries Breakpoints:  */
/* ### @media screen and  */
/* ### (max-width: 599px)  */
/* ### (min-width: 600px) */
/* ### (min-width: 900px)  */
/* ### (min-width: 1200px)  */
/* ### min-width: 1600px) */
/* GLIEDERUNG */
/* - Minireset */
/* - CSS-Variablen */
/* - Defaults */
/* - Layout */
/* - Typographie Defaults für gesamtes Portal */
/* - Navigation (Main, Content, Breadcrumbs */
/* - Header */
/* - Footer */
/* - Danach einzelne Bereiche */

/* ###### */
/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
/* MINIRESET */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:none;
    border-radius: 0;
    font-size: 1em;
    width: 100%
}
/**/

/* @import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Crimson+Text'); */



/*** VARIABLEN ***/
:root {
  /* --font-family-headline: 'Lato', sans-serif;
  --font-family-body: 'Open Sans', sans-serif;
  --font-family-body-serif: 'Crimson Text', serif; */
  --font-family-sans-serif: "Trebuchet MS", Arial, Helvetica, sans-serif;
  --font-family-body-serif: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  --seitenrand-default: .3rem;
  /** Farben **/
  --font-color-default: #333333;
  --kleist-blau:  rgba(44, 62, 105, 0.932);
}
/*** ENDE VARIABLEN ***/



/*** DEFAULTS ***/
html, body {
  /* height: 100%; footer am unteren Bildschirm */
}
/** Farben **/
body {
  color: var(--font-color-default);
  background: #f8f8f8;
  display: flex; /* footer am unteren Bildschirm */
  flex-direction: column;
}
/** Ende Farben **/

a {
  text-decoration: none;
  color: var(--kleist-blau);
}
.icon {
  margin-right: .3rem;
}

/*** DEFAULTS ENDE ***/



/*** LAYOUT ***/

.content {
  /* min-height für Platzierung footer am unteren Bildschirmrand */
  min-height: calc(100vh - 15.5em); /* header 13 + footer 5 + margin */
}

header, footer, .wrapper {
  padding: var(--seitenrand-default);
}
.wrapper {
  flex: 1 0 auto; /* footer am unteren Bildschirm */
}

@media screen and (min-width: 900px) {
  .wrapper {
    max-width: 50rem;
    margin: 0 auto;
  }
}

footer {
  display: flex;
  background: white;
  min-height: 5em;
  margin-top: 1em;
  padding-top: 1em;
  padding-left: var(--seitenrand-default);
  padding-right: var(--seitenrand-default);
  /* flex-shrink: 0; footer am unteren Bildschirm */
}

/*** ENDE LAYOUT ***/



/*** TYPOGRAFIE ***/

/** Fontfamilien **/
body {
  font-family: var(--font-family-body-serif);
  font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-sans-serif);
  font-weight: 400;
  text-align: center;
  padding-bottom: .5em;
}
header, footer {
  font-family: var(--font-family-sans-serif);
}
/** Ende Fontfamilien **/

/** Fontgrößen **/
body {
  font-size: 100%;
}
body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}
body {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */
}
@media (min-width: 43.75em) {
  #page {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */
  }
}
h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}
@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
}
@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */
  }
}
h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}
@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }
}
@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}
h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */
}
@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
}
@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25;
  }
}
h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}
@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
    /* (22px / 18px */
  }
}
blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */
}
@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */
  }
}
/** Ende Font-Sizes **/

/*** ENDE TYPOGRAPHIE ***/



/*** NAVIGATION ***/

header {
  background: white;
}
.logo a img {
  height: 8em;
}
.fa-bars {
  color: var(--kleist-blau);
}

@media screen and (max-width: 899px) {
  .navbar {
      display: none;
      /* margin-left: var(--abstand-links); */
      line-height: 2rem;
  }
  .navbar-mobile {
      display: none;
      /* margin-left: var(--abstand-links); */
      line-height: 2rem;
  }
  .header-mobile {
      display: flex;
      flex-direction: row;
      align-items: top;
  }
  .header-mobile > .menu {
      margin-left: auto;
      margin-right: 5px;
      cursor: pointer;
  }
  /* Elemente verbergen */
  .text-navbars-desktop {
      display: none;
  }
  /**/
}

@media screen and (min-width: 900px) {
  /* NAVIGATION HEADER */
  /* Navigation */
  header {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: var(--seitenrand-default);
      padding-right: var(--seitenrand-default);
  }
  span.menu {
      display: none;
  }
  nav > ul {
      display: flex;
      flex-direction: row;
  }
  nav > ul > li {
      margin-right: 2em;
  }
  .navbar-mobile {
    display: none;
  }
  .navbar {
      margin-left: auto;
  }
  .navbar > ul > li > a {
      text-transform: uppercase;
  }
  /* Navigation Ende */
}

/** Breadcrumbs **/
.breadcrumb > ul {
  display: flex;
  margin-top: 1rem;
  font-family: var(--font-sans);
}
.breadcrumb > ul > li {
  margin-right: 1rem;
  font-size: 90%;
}
/** Ende Breadcrumbs **/

/*** ENDE NAVIGATION ***/



/*** COMPONENTS ***/

/** Card **/
.container-cards {
  display: flex;
  flex-direction: column;
}
.card {
  /* needed for the flex layout*/
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.205);
  margin-left: 5px;
  margin-right: 5px;
  max-width: 100%;
  /* min-height: 100%; */
  transition: all .1s ease-in;
}
.card .media {
  text-decoration: none;
  color: #444;
}
.card .media img {
  width: 100%;
}
.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.301)
}
@media screen and (min-width: 900px) {
  .container-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card {
    flex-grow: 1;
    width: 32%;
    max-width: 32%;
  }
}
/** Ende Card **/

/*** ENDE COMPONENTS ***/
