/* ###### KLEIST-PORTAL ###### */

/* ### Media-Queries Breakpoints:  */
/* ### @media screen and  */
/* ### (max-width: 599px)  */
/* ### (min-width: 600px) */
/* ### (min-width: 900px)  */
/* ### (min-width: 1200px)  */
/* ### min-width: 1600px) */
/* GLIEDERUNG */
/* - Minireset */
/* - CSS-Variablen */
/* - Defaults */
/* - Layout */
/* - Typographie Defaults für gesamtes Portal */
/* - Navigation (Main, Content, Breadcrumbs */
/* - Header */
/* - Footer */
/* - Danach einzelne Bereiche */

/* ###### */
/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
/* MINIRESET */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:none;
    border-radius: 0;
    font-size: 1em;
    width: 100%
}
/**/

/* @import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Crimson+Text'); */



/*** VARIABLEN ***/
:root {
  /* --font-family-headline: 'Lato', sans-serif;
  --font-family-body: 'Open Sans', sans-serif;
  --font-family-body-serif: 'Crimson Text', serif; */
  --font-family-sans-serif: "Trebuchet MS", Arial, Helvetica, sans-serif;
  --font-family-body-serif: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  --seitenrand-default: .3rem;
  --page-width-default: 58rem;
  /** Farben **/
  --font-color-default: #333333;
  --kleist-blau:  rgba(44, 62, 105, 0.932);
  --bkg-color: #f8f8f8;
}
/*** ENDE VARIABLEN ***/



/*** DEFAULTS ***/
html, body {
  /* height: 100%; footer am unteren Bildschirm */
}
/** Farben **/
body {
  color: var(--font-color-default);
  background: var(--bkg-color);
  display: flex; /* footer am unteren Bildschirm */
  flex-direction: column;
}
/** Ende Farben **/

a {
  text-decoration: none;
  color: var(--kleist-blau);
}
.icon {
  /* margin-right: .3rem; */
}
.fa {
  padding-right: .5rem;
}
.hidden {
  display: none;
}

/*** DEFAULTS ENDE ***/



/*** LAYOUT ***/

.content {
  /* min-height für Platzierung footer am unteren Bildschirmrand */
  min-height: calc(100vh - 23em); /* header 13 + footer 5 + margin */
}

header, footer, .wrapper {
  padding: var(--seitenrand-default);
}
.wrapper {
  flex: 1 0 auto; /* footer am unteren Bildschirm */
}

@media screen and (min-width: 900px) {
  .wrapper {
    max-width: var(--page-width-default);
    margin: 0 auto;
  }
  .content {
    /* min-height für Platzierung footer am unteren Bildschirmrand */
    min-width: var(--page-width-default);
  }
}

footer {
  background: white;
  min-height: 10%;
  margin-top: 1em;
  padding-top: 1em;
  padding-left: var(--seitenrand-default);
  padding-right: var(--seitenrand-default);
  /* flex-shrink: 0; footer am unteren Bildschirm */
}
footer > .ft-wrapper {
  width: 100%;
}
footer hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top: 1px solid var(--bkg-color);
}
.ft-intro {
  font-size: 90%;
  line-height: 1.3em;
}
.ft-container-parts {
  display: flex;
  flex-direction: column;
}
.ft-wrapper {
}
.ft-part {
  margin-bottom: 1rem;
  margin-left: .5rem;
  margin-right: .5rem;
}
@media screen and (min-width: 900px) {
  header > .head-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 80rem;
    margin: 0 auto;
  }
  .ft-wrapper {
    max-width: var(--page-width-default);
    margin: 0 auto;
  }
  .ft-container-parts {
    flex-direction: row;
  }
  .ft-part {
    width: 30%;
  }
}
/*** ENDE LAYOUT ***/



/*** TYPOGRAFIE ***/

/** Fontfamilien **/
body {
  font-family: var(--font-family-body-serif);
  font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-sans-serif);
  font-weight: 400;
  text-align: center;
  padding-bottom: .5em;
}
header, footer {
  font-family: var(--font-family-sans-serif);
}
/** Ende Fontfamilien **/

/** Fontgrößen **/
.small {
  font-size: 80%
}
h1, h2, h3, h4, h5, h6 {

}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1.1em;
}
/** Ende Fontgrößen **/

/** Zeilenabstand **/

body p, span {
  line-height: 1.4rem;
}

/** Ende Zeilenabstand **/

/*** ENDE TYPOGRAPHIE ***/



/*** NAVIGATION ***/

header {
  background: white;
}
.logo a img {
  height: 8em;
}
.fa-bars {
  color: var(--kleist-blau);
}

@media screen and (max-width: 899px) {
  .navbar {
      display: none;
      /* margin-left: var(--abstand-links); */
      line-height: 2rem;
  }
  .navbar-mobile {
      display: none;
      /* margin-left: var(--abstand-links); */
      line-height: 2rem;
  }
  .header-mobile {
      display: flex;
      flex-direction: row;
      align-items: top;
  }
  .header-mobile > .menu {
      margin-left: auto;
      margin-right: 5px;
      cursor: pointer;
  }
  .logo a img {
    height: 6em;
  }
  /* Elemente verbergen */
  .text-navbars-desktop {
      display: none;
  }
  /**/
}

@media screen and (min-width: 900px) {
  /* NAVIGATION HEADER */
  /* Navigation */
  header {
      /* display: flex;
      flex-direction: row; */
      align-items: center;
      padding-left: var(--seitenrand-default);
      padding-right: var(--seitenrand-default);
  }
  span.menu {
      display: none;
  }
  nav > ul {
      display: flex;
      flex-direction: row;
  }
  nav > ul > li {
      margin-right: 2em;
  }
  .navbar-mobile {
    display: none;
  }
  .navbar {
      margin-left: auto;
  }
  .navbar > ul > li > a {
      text-transform: uppercase;
  }
  /* Navigation Ende */
}

/** Breadcrumbs **/
.breadcrumb > ul {
  display: flex;
  flex-direction: row;
  margin-top: .2rem;
  margin-bottom: 1em;
  font-family: var(--font-family-sans-serif);
}
.breadcrumb > ul > li {
  margin-right: 1rem;
  font-size: 90%;
}
.breadcrumb > ul > li > a {
  text-decoration: underline;
}
/** Ende Breadcrumbs **/

/*** ENDE NAVIGATION ***/



/*** COMPONENTS ***/

/** Card **/
.container-cards {
  display: flex;
  flex-direction: column;
}
.card {
  /* needed for the flex layout*/
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.205);
  /* margin-left: 5px; */
  padding: .5rem;
  max-width: 100%;
  /* min-height: 100%; */
  transition: all .1s ease-in;
}
.card .media {
  text-decoration: none;
  color: var(--font-color-default);
  margin-bottom: 1em;
}
.card .media img {
  width: 100%;
  padding-bottom: .5rem;
}
.card p {
  padding-bottom: .5em;
}
.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.301)
}
.card .m-footer {
  text-align: center;
}
@media screen and (min-width: 900px) {
  .container-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card {
    flex-grow: 1;
    margin-right: 1rem;
    width: 31%;
    max-width: 32%;
  }
  .card-wide {
    width: 65%;
    max-width: 65%;
  }
}
/** Ende Card **/

/*** ENDE COMPONENTS ***/



/*** DIVERSE ELEMENTS / TEMPLATES ***/

/** Buttons **/
.hidden-show {
  padding-bottom: .5rem;
  padding-right: 1rem;
  text-decoration: underline;
  text-align: right;
}

/** Captions **/
.img .caption {
  display: block;
  font-family: var(--font-family-sans-serif);
  text-align: center;
  font-size: 70%;
  line-height: 1em;
  margin-top: -.5rem;
  margin-bottom: 1rem;
}

/** Text mit Marginalienspalte **/
.text-marginalien {
  
}
@media screen and (min-width: 900px) {
  .text-marginalien {
    width: 100%;
  }
  .text-marginalien p {
    padding-bottom: .5rem;
  }
  .image-left {
    float: left;
    width: 40%;
    margin-right: 1rem;
  }
  .image-right {
    float: right;
    width: 40%;
    margin-left: 1rem;
  }
  .text-marginalien blockquote {
    font-size: 200%;
    margin-left: 5rem;
    margin-bottom: 1rem;
    width: 50%;
    text-indent: -1.5rem;
  }
  .text-marginalien blockquote::before {
    content: "> "
  }
}

/*** ENDE ELEMENTS ***/



/*** TEXTSORTEN ***/

/** Chronik **/
.chronic {
  font-size: 90%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 2rem;
}
.chronic p {
  line-height: 1.3em;
}
@media screen and (min-width: 900px) {
  .chronic {
    padding-right: 25%;
  }
}

/*** TEXTSORTEN ***/
