<footer>
  <div class="ft-wrapper">
    <div class="ft-part">
      <div>Kontakt</div>
      <div>Sitemap</div>
      <div>Links</div>
    </div>
    <div class="ft-part">
        <div>Impressum</div>
        <div>Datenschutzerklärung</div>
    </div>
    <div class="ft-part">
        <p class="small">Dieses Portal wird gefördert von der Beauftragten der Bundesregierung für Kultur und Medien aufgrund eines Beschlusses des Deutschen Bundestages.</p>
          <img src="/img/csm_logo_BKM.png" alt="logo bkm">
    </div>
  </div>
</footer>