<footer>
    <div class="ft-wrapper">
        <p class="ft-intro">Die <b>Heinrich-von-Kleist-Gesellschaft e.V.</b> ist eine internationale literarische und wissenschaftliche Vereinigung. Sie sieht ihre Aufgabe darin, das Werk und Leben Kleists durch wissenschaftliche Tagungen und Veröffentlichungen zu erschließen und die in der Gegenwart fortwirkenden Einflüsse seiner Dichtung durch künstlerische, insbesondere literarische Veranstaltungen für eine breitere Öffentlichkeit zu fördern. Die Gesellschaft wurde am 5. Mai 1960 gegründet. Ihr Vereinssitz ist Berlin.</p>
        <hr>
        <div class="ft-container-parts">
            <div class="ft-part">
                <ul>
                    <li><a href="/kleist-gesellschaft/hvkg-kontakt">Kontakt</a></li>
                    <li><a href="/kleist-gesellschaft/hvkg-beitritt">Beitritt</a></li>
                    <li><a href="/kleist-gesellschaft/hvkg-satzung">Satzung</a></li>
                    <li><a href="/kleist-gesellschaft/hvkg-vorstand">Vorstand</a></li>
                    <li><a href="#">Sitemap</a></li>
                </ul>
            </div>
            <div class="ft-part">
                <ul>
                    <li style="font-size: 90%"><em>Heinrich-von-Kleist-Gesellschaft e.V.</em></li>
                    <li><a href="/kleist-gesellschaft/hvkg-impressum">Impressum</a></li>
                    <li><a href="#"></a>Datenschutzerklärung</li>
                    <li><a href="#"></a>Haftungsausschluss</li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div class="ft-part">
                <p class="small">Dieses Portal wird gefördert von der Beauftragten der Bundesregierung für Kultur und Medien aufgrund eines Beschlusses des Deutschen Bundestages.</p>
                <img src="/img/csm_logo_BKM.png" alt="logo bkm">
            </div>
        </div>
    </div>
</footer>