<header id="top">
    <div class="head-wrapper">
        <div class="header-mobile">
            <span class="logo"><a href="/kleist-portal"><img src="/img/logo_kleist_portal.gif" alt=""></a></span>
            <span class="menu"><span class="fa fa-bars fa-2x"></span></span>
        </div>
        <nav class="navbar hide_on_mobile">
            <ul>
                <li><a href="/hvk/hvk-intro">Heinrich von Kleist</a></li>
                <li><a href="#">Kleist-Museum</a></li>
                <li><a href="/kleist-gesellschaft/hvkg-intro">Kleist-Gesellschaft</a></li>
                <li><a href="#"><span class="icon fa fa-search"></span>Suche</a></li>
            </ul>
        </nav>
        
        <nav class="navbar-mobile">
            <ul>
                <li><a href="/hvk/hvk-intro">Heinrich von Kleist</a></li>
                <li><a href="#">Kleist-Museum</a></li>
                <li><a href="/kleist-gesellschaft/hvkg-intro">Kleist-Gesellschaft</a></li>
                <li><a href="#"><span class="icon fa fa-search"></span>Suche</a></li>
            </ul>
        </nav>
    </div>
</header>