<header
        id="top">
        <div class="header-mobile"><span
                class="logo"><a
                    href="/">KLEIST-Portal</a></span>
            <span class="menu fa fa-bars"></span></div>
        <nav class="navbar hide_on_mobile">
            <ul>
                <li><a href="#">Heinrich von Kleist</a></li>
                <li><a href="#">Kleist-Museum</a></li>
                <li><a href="#">Kleist-Gesellschaft</a></li>
                <li><a href="#"><span class="fa fa-search"></span>Suche</a></li>
            </ul>
        </nav>
        
        <nav
            class="navbar-mobile">
            <ul>
                <li><a
                        href="#">Heinrich von Kleist</a></li>
                <li><a
                        href="#">Kleist-Museum</a></li>
                <li><a
                        href="#">Kleist-Gesellschaft</a></li>
                <li><a href="#"><span class="fa fa-search"></span>Suche</a></li>
            </ul>
        </nav>
    
    </header>