<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>Heinrich-von-Kleist-Gesellschaft</title>
  <link rel="stylesheet" href="/css/styles.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
</head>
<body>
    <%- include('partials/header') %>
  <!-- <div class="header">
    <h1><%= site.title %></h1>
  </div> -->
  <div class="wrapper">
    <section class="content">
      <%- body %>
    </section>
  </div>

  <%- include('partials/footer-hvkg') %>
  <script src="/js/kleistportal.js"></script>
</body>
</html>