<h2>Heinrich von Kleist: </br>Leben, Werk und Rezeption</h2>
<div class="container-cards">
    <div class="card card-tall hvk">
        <div class="media">
            <div class="img">
                <img src="/img/hvk/kleist-kreide.jpg" alt="Placeholder">
            </div>
            <h2 class="m-title">Kleist ein moderner Mensch</h2>
            <div class="m-content">
                <p>Heinrich von Kleist erscheint heute als moderner Charakter, der an der Jahrhundertwende 1800 in die politischen und gesellschaftlichen Umbrüche in Deutschland geriet und, obwohl aus einer märkischen Adelsfamilie stammend, zeitlebens instabile Lebensverhältnisse hatte. Aus der fortwährenden Krisenerfahrung heraus entwickelte er seine Ideen und seine wechselnden Lebensentwürfe. Gesellschaftliches Reformdenken und literarische Experimente gehen bei Kleist Hand in Hand. Schon als Fünfzehnjähriger tritt er in die Preußische Armee ein und scheidet sieben Jahre später als Leutnant wieder aus, er studiert Philosophie, Physik, Mathematik und Staatswissenschaft in seiner Geburtsstadt Frankfurt (Oder) und interessiert sich zeitlebens für Technik, Bildung und Verwaltung.</p>
                <p>Kleist war ein Nomade, er hatte zahlreiche, ständig wechselnde Wohnsitze, sein Leben lang ist er gereist. In seinen erzählenden literarischen Werken und auf dem Theater ragt er durch Extreme heraus, sowohl in der Darstellung von menschlichen Bindungen und ihrem Scheitern, als auch in seinem radikalen Formwillen. Kleists Protagonisten sind von deutscher Innerlichkeit und Grübelei frei, sie handeln und scheitern in der Realität, das macht Kleists Werke bis heute für Leser in aller Welt so attraktiv. Kleist war auf vielen Gebieten umtriebig und leidenschaftlich, sein Glücksstreben und sein Ideal, sich als freier Schriftsteller durchzusetzen, trieben ihn an. Er sehnte sich nach Ruhm, den er zu Lebzeiten nicht gewann, und nach einem Ruhepunkt in seinem Leben, den er erst in seinem in „unaussprechlicher Heiterkeit“ inszenierten Freitod fand.</p>
                </div>
            <div class="m-footer">
                <p><a href="hvk-bio.html">Zur Biographie</a></p>
            </div>
        </div>
    </div>  
    <div class="card card-tall hvk">
        <div class="media">
            <div class="img">
                <img src="/img/hvk/cover_erzaehlungen.jpg" alt="Placeholder">
                <img src="/img/hvk/cover_kaethchen.jpg" alt="Placeholder">
            </div>
            <h2 class="m-title">Werke, Schriften, Briefe</h2>
            <div class="m-content">
                    <p>WERKE: Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, nisi magni fuga eveniet cum dolores ducimus laborum quis facilis excepturi, dignissimos inventore, harum laboriosam magnam repellat assumenda amet sit eos?</p>
                    <p>SCHRIFTEN: Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, nisi magni fuga eveniet cum dolores ducimus laborum quis facilis excepturi, dignissimos inventore, harum laboriosam magnam repellat assumenda amet sit eos?</p>
                    <p>BRIEFE: Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, nisi magni fuga eveniet cum dolores ducimus laborum quis facilis excepturi, dignissimos inventore, harum laboriosam magnam repellat assumenda amet sit eos?</p>
                </div>
            <div class="m-footer">
                <p><a href="hvk-bio.html">Zur Biographie</a></p>
            </div>
        </div>
    </div>
    <div class="card card-tall hvk">
        <div class="media">
            <div class="img">
                <img src="/img/hvk/kleist_denkmal_ffo.jpg" alt="Placeholder">
            </div>
            <h2 class="m-title">Kleist-Rezeption</h2>
            <div class="m-content">
                <p>[Dummy-Text aus Wikipedia] Das literarische Schaffen von Heinrich von Kleist hat auf seine Zeitgenossen und auf spätere Leser eine widersprüchliche, aber nachhaltige Wirkung ausgeübt. „Die Zeitgenossen wurden durch die Gewaltsamkeit der Bilder, die Maßlosigkeit der Gefühlsausbrüche, die Krassheit der Situationen, die Missachtung schöner Konventionen mehr schockiert als durch die Kraft, die rhythmische Dynamik, die weiten dramatischen Spannungsbögen und die poetische Schönheit dieser Sprache angezogen.“ Denn: „Solche Texte hatte man noch nicht gelesen, solche Stücke noch nicht gesehen. Seine Analysen waren der Geschichte, seine Bilder und Formen der Literaturgeschichte voraus.“ Im Laufe der widersprüchlichen Rezeptionsgeschichte wurde Kleist von weltanschaulich gewissermaßen konträren Gruppierungen für sich in Anspruch genommen. Er wurde gleichermaßen als verkannter Vorbote der literarischen Moderne wie auch als bedeutender Streiter im Sinne der nationalistischen und chauvinistischen Strömungen des Deutschen Kaiserreichs gedeutet. Insbesondere seit der deutschen Reichsgründung von 1871 kam es zu wechselnden Renaissancen und einer immer stärker werdenden politischen Inanspruchnahme Kleists.</p>
                </div>
            <div class="m-footer">
                <p><a href="hvk-bio.html">Zur Biographie</a></p>
            </div>
        </div>
    </div>
    <div class="card card-tall hvk">
        <div class="media">
            <div class="img">
                <img src="/img/hvk/kleist_literatur.png" alt="Placeholder">
            </div>
            <h2 class="m-title">Kleist-Literatur</h2>
            <div class="m-content">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque molestiae corporis placeat fuga tempora iste perspiciatis excepturi alias? Corporis laudantium totam quis cupiditate beatae odit velit quae fugit veritatis earum!</p>
                </div>
            <div class="m-footer">
                <p><a href="hvk-bio.html">Zur Biographie</a></p>
            </div>
        </div>
    </div>
</div>