<h2>Heinrich von Kleist: </br>Leben, Werk und Rezeption</h2>
<div class="container-cards">
    <div class="card card-tall hvk">
        <div class="media">
            <div class="img">
                <img src="/img/hvk/kleist-kreide.jpg" alt="Placeholder">
            </div>
            <h2 class="m-title">Kleist ein moderner Mensch</h2>
            <div class="m-content">
                <p>Heinrich von Kleist erscheint heute als moderner Charakter, der an der Jahrhundertwende 1800 in die politischen und gesellschaftlichen Umbrüche in Deutschland geriet und, obwohl aus einer märkischen Adelsfamilie stammend, zeitlebens instabile Lebensverhältnisse hatte. Aus der fortwährenden Krisenerfahrung heraus entwickelte er seine Ideen und seine wechselnden Lebensentwürfe. Gesellschaftliches Reformdenken und literarische Experimente gehen bei Kleist Hand in Hand. Schon als Fünfzehnjähriger tritt er in die Preußische Armee ein und scheidet sieben Jahre später als Leutnant wieder aus, er studiert Philosophie, Physik, Mathematik und Staatswissenschaft in seiner Geburtsstadt Frankfurt (Oder) und interessiert sich zeitlebens für Technik, Bildung und Verwaltung.</p>
                <p>Kleist war ein Nomade, er hatte zahlreiche, ständig wechselnde Wohnsitze, sein Leben lang ist er gereist. In seinen erzählenden literarischen Werken und auf dem Theater ragt er durch Extreme heraus, sowohl in der Darstellung von menschlichen Bindungen und ihrem Scheitern, als auch in seinem radikalen Formwillen. Kleists Protagonisten sind von deutscher Innerlichkeit und Grübelei frei, sie handeln und scheitern in der Realität, das macht Kleists Werke bis heute für Leser in aller Welt so attraktiv. Kleist war auf vielen Gebieten umtriebig und leidenschaftlich, sein Glücksstreben und sein Ideal, sich als freier Schriftsteller durchzusetzen, trieben ihn an. Er sehnte sich nach Ruhm, den er zu Lebzeiten nicht gewann, und nach einem Ruhepunkt in seinem Leben, den er erst in seinem in „unaussprechlicher Heiterkeit“ inszenierten Freitod fand.</p>
                </div>
            <div class="m-footer">
                <p><a href="hvk-bio.html">Zur Biographie</a></p>
            </div>
        </div>
    </div>  
    <div class="card card-tall hvk">
        <div class="media">
            <div class="img">
                <img src="/img/hvk/kleist-kreide.jpg" alt="Placeholder">
            </div>
            <h2 class="m-title">Kleist ein moderner Mensch</h2>
            <div class="m-content">
                <p>Heinrich von Kleist erscheint heute als moderner Charakter, der an der Jahrhundertwende 1800 in die politischen und gesellschaftlichen Umbrüche in Deutschland geriet und, obwohl aus einer märkischen Adelsfamilie stammend, zeitlebens instabile Lebensverhältnisse hatte. Aus der fortwährenden Krisenerfahrung heraus entwickelte er seine Ideen und seine wechselnden Lebensentwürfe. Gesellschaftliches Reformdenken und literarische Experimente gehen bei Kleist Hand in Hand. Schon als Fünfzehnjähriger tritt er in die Preußische Armee ein und scheidet sieben Jahre später als Leutnant wieder aus, er studiert Philosophie, Physik, Mathematik und Staatswissenschaft in seiner Geburtsstadt Frankfurt (Oder) und interessiert sich zeitlebens für Technik, Bildung und Verwaltung.</p>
                </div>
            <div class="m-footer">
                <p><a href="hvk-bio.html">Zur Biographie</a></p>
            </div>
        </div>
    </div>
    <div class="card card-tall hvk">
        <div class="media">
            <div class="img">
                <img src="/img/hvk/kleist-kreide.jpg" alt="Placeholder">
            </div>
            <h2 class="m-title">Kleist ein moderner Mensch</h2>
            <div class="m-content">
                <p>Heinrich von Kleist erscheint heute als moderner Charakter, der an der Jahrhundertwende 1800 in die politischen und gesellschaftlichen Umbrüche in Deutschland geriet und, obwohl aus einer märkischen Adelsfamilie stammend, zeitlebens instabile Lebensverhältnisse hatte. Aus der fortwährenden Krisenerfahrung heraus entwickelte er seine Ideen und seine wechselnden Lebensentwürfe. Gesellschaftliches Reformdenken und literarische Experimente gehen bei Kleist Hand in Hand. Schon als Fünfzehnjähriger tritt er in die Preußische Armee ein und scheidet sieben Jahre später als Leutnant wieder aus, er studiert Philosophie, Physik, Mathematik und Staatswissenschaft in seiner Geburtsstadt Frankfurt (Oder) und interessiert sich zeitlebens für Technik, Bildung und Verwaltung.</p>
                </div>
            <div class="m-footer">
                <p><a href="hvk-bio.html">Zur Biographie</a></p>
            </div>
        </div>
    </div>
</div>